
{{#each images}}
<article tabindex="0" onkeypress="if(event.key === 'Enter'){view(this.querySelector('img'), '{{this.id}}');}">
  <a>
    <img
      id="{{this.id}}"
      src="{{this.thumb}}"
      full="{{this.image}}"
      data-id="{{this.id}}"
      alt="{{this.name}}"
      title="{{this.description}}"
      loading="lazy"
      onmouseover="enhance(this)"
      onclick="view(this, '{{this.id}}')"
    />
  </a>
  <div class="reflection" style="background-image: url('{{this.thumb}}')"></div>
</article>
{{/each}}
<footer>
  This page is created and served using <a href="https://github.com/christopherdonner/imagebot">imageBot</a>
  All artwork and javascript seen here is the creation of Christopher Donner.
</footer>