<header>
<h1>Christopher Donner</h1>
<nav>
  <ul>
    <li><a href="/">home</a></li>
    {{#each directoryListSimple}}
      <li><a href="/{{this}}">{{this}}</a></li>
    {{/each}}
    <li><a href="/about">about</a></li>
  </ul>
</nav>
</header>
{{#each images}}
    <article>
      <a><img id="{{this.image}}" src="{{this.thumb}}" full="{{this.image}}" data-id="{{this.id}}" title="{{this.name}}" height=80 onmouseover="enhance(this)" onclick="view(this, '{{this.id}}')">
      <div class="reflection" style="background-image: url('{{this.thumb}}')"></div>
      </a>
    </article>
  {{/each}}
  <footer>
    This page is created and served using <a href="https://github.com/christopherdonner/imagebot">imageBot</a>
    All artwork and javascript seen here is the creation of Christopher Donner.
  </footer>

  